* {
    margin: 0;
    border: 0;
    box-sizing: border-box;
  }
  @font-face {
    font-family: Ephesis;
    src: url(Ephesis-Regular.ttf);
  }
  body {
    /* background-color: color-mix(in srgb, pink, white 10%); */
    background-color: white;
  }
  header {
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  header h1 {
    font-family: Ephesis;
    font-size: 2.5rem;
    font-weight: 900;
    margin-left: 20px;
    background: linear-gradient(to right, pink, #00dbde, #fc00ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  a {
    text-decoration: none;
    font-size: 1.3rem;
    color: #fc00ff;
    position: relative;
  }
  a::after {
    content: "";
    height: 3px;
    width: 0%;
    background: #009688;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
  }
  .links a:nth-child(3) {
    color: rgb(80, 3, 80);
  }
  .links a:hover::after {
    width: 100%;
    /* border-bottom: 2px solid purple;
    transition: border 300ms;
    border-width: 100%; */
  }
  .links {
    display: flex;
    padding-right: 50px;
    text-decoration: none;
  }
  .links a {
    margin-right: 15px;
  }
  button {
    width: 50px;
    height: 20px;
    background: none;
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    display: none;
  }
  
  button span {
    width: 100%;
    height: 3px;
    background-color: black;
    transition: width 300ms, transform 300ms;
  }
  button:hover span:nth-child(1),
button:hover span:nth-child(3) {
  width: 70%;
}
button:hover span:nth-child(2) {
  width: 20%;
}
  .title {
    width: 100vw;
    height: 200px;
    position: relative;
  }
  .title img {
    object-fit: 100%;
    width: 100%;
    height: 100%;
  }
  .title .title-text {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    margin-left: 20px;
  }
  .title-text {
    background-color: rgba(0, 0, 0, 0.5);
  }
  .title-text h2 {
    font-size: 1.5rem;
    text-transform: uppercase;
    background: linear-gradient(to right, purple, #00dbde, #fc00ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 30px;
  }
  .title-text p {
    font-size: 1.2rem;
    background: linear-gradient(to right, purple, #00dbde, #fc00ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .social{
    padding: 30px;
    display: flex;
    flex-direction: column;
  }
 
  .spotify a{
    font-family: 'Courier New', Courier, monospace;
    color: green;
    font-size: 2rem;
    font-weight: 900;
    margin-right: 20px;
  }
  .spotify{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  .fa-spotify{
    font-size: 2rem;
  }
   .insta a{
     font-family: 'Courier New', Courier, monospace;
     background: linear-gradient(to bottom, #405DE6, #F56040);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 2rem;
    font-weight: 900;
    margin-bottom: 20px;
    margin-right: 20px;
   }
   .fa-instagram{
    font-size: 2rem;
    background: linear-gradient(to bottom, #405DE6, #F56040);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
   }
   .insta{
    margin-bottom: 20px;
   }
   .face a{
     font-family: 'Courier New', Courier, monospace;
     color: #3b5998;
     /* -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
     font-size: 2rem;
    font-weight: 900;
    margin-bottom: 20px;
    margin-right: 20px;
   }
   .fa-facebook{
    font-size: 2rem;
    color: #3b5998;
    /* -webkit-background-clip: text;
   -webkit-text-fill-color: transparent; */
   }
   .face{
    margin-bottom: 20px;
   }
   .tweet a{
    font-family: 'Courier New', Courier, monospace;
   color: #1DA1F2;
    font-size: 2rem;
    font-weight: 900;
    margin-bottom: 20px;
    margin-right: 20px;
   }
   .fa-x-twitter{
    font-size: 2rem;
    /* color: black; */
   }
   @media(max-width: 450px){
      body{
    width: 450px;
  }
  .links{
    display: none;
  }
  .links.show{
    display: flex;
    flex-direction: column;
  }
  .links a:hover::after {
    width: 0;
    /* border-bottom: 2px solid purple;
    transition: border 300ms;
    border-width: 100%; */
  }
  button span {
    width: 100%;
    height: 3px;
    background-color: black;
    transition: width 300ms transform 300ms;
  }
  #hamburger.show span:nth-child(2){
    width: 0;
    height: 0;
  }
  #hamburger.show span:nth-child(1) {
    width: 85%;
    transform: rotate(40deg) translateY(14px) translateX(3px);
  }
  #hamburger.show span:nth-child(3) {
    width: 85%;
    transform: rotate(-48deg) translateY(-9px) translateX(-4px);
  }
  header h1{
    font-size: 2rem;
  }
  .title-text h2{
    font-size: 1.2rem;
    padding: 3px;
  }
  button{
    display: flex;
    padding-right: 10px;
  }
   }